body {
    background: gainsboro;
}

.bg-primary {
    background: rgb(49, 78, 67);
    background: linear-gradient(90deg, rgba(49, 78, 67, 0.9668242296918768) 0%, rgba(14, 31, 93, 1) 100%, rgba(48, 207, 120, 1) 100%, rgba(224, 206, 61, 1) 100%, rgba(58, 193, 88, 1) 100%);
}

/*Admin-Dashboard Logo*/
#logo {
    border-radius: 20px;
    height: 40px;
    width: 70px;
}


