<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Forgot Password</title>

    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"-->
    <!--          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">-->

    <!--    &lt;!&ndash; My Stylesheet File link &ndash;&gt;-->
    <!--    <link rel="stylesheet" th:href="@{/css/mycss.css}"/>-->
</head>
<body>
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">

                <!-- Start of Card -->
                <div class="my-card mt-1">

                    <!-- Alert Message -->
                    <div th:if="${session.userNotFound}" th:classappend="${session.userNotFound.type}"
                         class="alert" role="alert">
                        <p class="text-center" th:text="${session.userNotFound.content}"></p>
                        <th:block th:text="${#session.removeAttribute('userNotFound')}"></th:block>
                    </div>

                    <!-- LOGO Field -->
                    <!--                <div class="container text-center">-->
                    <!--                    <img th:src="@{/images/login-logo.png}" height="70px" width="120px"/>-->
                    <!--                </div>-->

                    <form method="post" th:action="@{/search-user}" th:object="${user}">

                        <!-- Email Field -->
                        <div class="form-group">

                            <label for="email">Username</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="Enter your registered email" required>
                        </div>

                        <!-- Buttons Field -->
                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary">Search Account</button>
                        </div>

                    </form>
                    <!-- Form Ended -->

                </div>
                <!-- End of Card -->

            </div>

        </div>
    </div>
</section>

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"-->
<!--        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"-->
<!--        crossorigin="anonymous"></script>-->
</body>
</html>