<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Home</title>
</head>
<body>
<section class="banner d-flex justify-content align-items-center">
    <div class="container">
        <div class="contentbox">
            <h1>Skills For Your Future</h1>
            <h1>Starts your technical journey with us</h1><br><br>

            <h2>Let's get started</h2>

            <div class="box text-center">
                <form th:action="@{/signup}" method="get">
                    <button type="submit" class="btn btn-success">Register Here</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>