<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Login</title>
</head>
<body>
<section>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" th:action="@{/signin}" method="post">

                            <!-- logo field -->
                            <div class="container text-center">
                                <img th:src="@{/images/login-logo.png}" height="60px" width="85px"/>
                            </div>
                            <!-- Alert Message -->

                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid username or password
                            </div>

                            <div th:if="${param.logout}" class="alert alert-danger">
                                You have been logout
                            </div>

                            <!-- End alert Message -->
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input
                                        id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-success btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                                <a th:href="@{/signup}" class="text-info">Register here</a>
                            </div>
                        </form>

                        <div id="forgot-link">
                            <form method="post" th:action="@{/forgot-password}">
                                <div class="container text-right">
                                    <input type="submit" class="bg-btn" id="forgot" value="Forgot Password">
                                    <!--                                    <button type="submit" class="btn btn-link button">Forgot Password</button>-->
                                </div>
                            </form>
                            <!--                            <a th:href="@{/forgot-password}" class="text-info">Forgot Password</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>