<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

</head>
<body>

<section>
    <div class="container">
        <div class="row">

            <div class="col-md-6 offset-md-3">

                <!-- Start of Card -->
                <div class="my-card mt-1">

                    <!-- Alert Message -->
                    <div th:if="${session.loginMessage}" th:classappend="${session.loginMessage.type}"
                         class="alert" role="alert">
                        <p class="text-center" th:text="${session.loginMessage.content}"></p>
                        <th:block th:text="${#session.removeAttribute('loginMessage')}"></th:block>
                    </div>

                    <form method="post" th:action="@{/reset-password}" th:object="${user}">

                        <!-- Email Field -->
                        <div class="form-group">

                            <label for="email">Username</label>
                            <input type="email" class="form-control" id="email"
                                   th:value="${user.getEmail()}"
                                   readonly>
                        </div>

                        <!-- Update Password Field  -->
                        <div class="form-group">

                            <label for="password">Create New Password</label>
                            <input type="password" class="form-control" id="password"
                                   th:field="*{password}"
                                   placeholder="Enter Password" required>
                        </div>

                        <!-- Buttons Field -->
                        <div class="container text-center">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>

                    </form>

                    <!-- Form Ended -->

                </div>
                <!-- End of Card -->

            </div>

        </div>
    </div>
</section>

</body>
</body>
</html>