<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User DashBoard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="@{/javascript/script.js}"></script>


<table cellpadding="20" border="2" align="center">
    <tr>
        <td colspan="3" align="center"><h1> Available Courses!!</h1></td>
    </tr>
    <tr>
        <td th:each="course: ${seecourse}">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${course.courseName}"></h5>
                    <p class="card-text" th:text="${course.description}"></p>
                    <p class="card-text" th:text="${course.instructionId}"></p>
                    <p class="card-title" th:text="${course.startDate}">start date:</p>
                    <p class="card-title" th:text="${course.endDate}">end date:</p>
                    <button class="btn btn-primary" type="submit">Enroll</button>

                </div>
            </div>
        </td>

    </tr>
</table>

</body>
</html>